/* https://colorswall.com/palette/18475 */
@import url('style.css');

#aboutDesc  {
    text-align: justify;
    font-weight: normal;
}

.aboutContainer{
    margin-top: 5%;
}

    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 400px;
        margin: auto;
        text-align: center;
        background-color:#fcfcfc;
        position: relative;
        height: 600px;
        justify-content: space-between;
        /* max-height: 600px; */
        display: block;
        /* padding-left: 5px;
        padding-right: 5px;
        padding-top: 5px; */
        margin-left: 2.5%;
        margin-right: 2.5%;
        margin-top: 5%;
        position: relative  ;

    }

    .card button:last-child {
        position:absolute;
        bottom: 0px;
        height:60px;
    }   

    .card button:hover{
        background-color: #cacaca;
        color: black;
    }
    #teamProfiles {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        gap: 20px;
        text-align: center;
        max-width: 60%;
        margin: 0 auto;
        justify-content: center;
        align-content: center;
    }
    .title {
        color: rgb(0, 0, 0);
        font-size: 18px;
        font-weight: normal;
    }

    img{
        width: 100%;
        max-height: 300px;
        height: 50%;
        /* max-height: 30%; */
        display: block;
        float: top;
    }
    #contactButton{
        padding-left: 0px;
        padding-right: 0px;
      }

    #memberQuote{
        padding-left: 5%;
        padding-right: 5%;
    }
    #memberName{
        font-size: 30px;
        color: black;
    }
    button {
    border: none;
    outline: 0;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }