/* https://colorswall.com/palette/18475 */
@import url('style.css');

#ordersLabel{
  margin-bottom: 20px;
}


#dietDiv{
    margin-top: 8%;
    width: 50%;
}

/* gray */
#bmrTotalBar {
    width: 100%;
    background-color: #bcddd4;
    border-radius: 5px;
  }
  
  #bmrProgressBar {
    width: 24%;
    height: 30px;
    background-color: #52b265;
    border-radius: 5px;
    transition: width 0.5s ease, background-color 0.5s ease;;
  }

  /* Dropdown Button */
.dropbtn {
  background-color: #52b265;
  color: white;
  padding: auto;
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Dropdown button on hover & focus */
.dropbtn:hover{
  background-color: #3e8e41;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  overflow: auto;
  overflow-x: auto;
  max-height: 360px;
  display: none;
  position: absolute;
  background-color: rgb(235, 235, 235);
  min-width: 230px;
  z-index: 1;
  /* border-radius: 15px; */
}

/* Links inside the dropdown */
.dropdown-content a {
  font-size: 16px;
  font-family: Arial, sans-serif;
  font-weight: normal;
  color: #4f3f3c;
  padding: 12px 16px;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #bcddd4
}

.show {display:block;}

#myInput {
  /* background-image: url('assets/images/SEARCHICON.png');
  background-position: 14px 12px;
  background-repeat: no-repeat;
  background-size: 1rem; */
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  font-size: 12px; /* Increase font-size */
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-top: 12px; 
  display: block;
  border: 1px;
  border-radius: 5px;
  border: none;
  background-color: #e4e4e4;

}

#myInput:focus, input:focus {
  outline: none;
}

#foodsContainer{
  min-height: 510px;
}

.tableKo {
  display: block;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  border: none;
  font-size: 18px;
  max-height: 300px; 
  overflow-y: auto;
  
}

.hasBorder {
  border: 0.5px solid #ddd;

}

.tableKo:only-child td{
  border: none;
}

.tableKo th, .tableKo td {
  text-align: left;
  padding: 12px;
  width: 100%;
  cursor: default;
}
#restoFoods{
  margin-top: 2rem;
}

#percentCalorieStat{
  margin: auto;
  margin-bottom: 5px;
  text-align: center;
}

.tableKo tr {
  border-bottom: 1px solid #ddd;
  
}
.tableKo tr.headerTable{
  background-color: #f1f1f1;
  position: sticky; 
  top: 0px;
}

.tableKo tr:hover:not(.header){
  background-color: #f1f1f1;
}

.tableKo td {
  font-size: 15px;
  font-weight: bold;
  
}
.tableKo td:hover {
  cursor: pointer;

}

#whatToOrder{
  margin-top: 0px;
}

#notif {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #4f3f3c;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
}

#notif.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

.button-container{
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
#clearOrdersBTN, #printChoicesBTN {
  width: 20%;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin: 1rem;
  border-radius: 5px;
}

#clearOrdersBTN:hover{
  background-color: #f31100;
}

#clearOrdersBTN {
  background-color: #f44336;
}

#printChoicesBTN {
  background-color: #52b265;
}

#printChoicesBTN:hover {
  background-color: #3e8e41;
}

.arrow {
  border: solid rgb(255, 255, 255);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3.5px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
#restoLogo {
  display: block;
  margin: 0 auto;
  width: 17%;
  height: 17%;
  transition: all 0.5s ease;
}

#notFoundLabel{
  text-align: center;
}

div.sticky {
  position: sticky;
  top: 60px;
  z-index: 2;
}

.modal {
  display: none;
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;

  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  border-radius: 5px;
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.contentOnModal{
  text-align: left;
  margin-left: 20%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}